Partners Index Page

<span class="heading"><%= @json["records"].length %> partners matching your search criteria:</span>

<table border="0" cellspacing="1" cellpadding="5" bgcolor="#CCCCCC" width="50%">
<tr bgcolor="#407BA8">
	<td style="color: #ffffff; font-weight: bold;">Name</td>
	<td style="color: #ffffff; font-weight: bold;">External ID</td>
</tr>
<% @json["records"].each do |record| %>
	<tr style="background:#ffffff" onMouseOver="this.style.background='#eeeeee';" onMouseOut="this.style.background='#ffffff';">
		<td><a href="/partners/<%= record["Id"]%>"><%= record["Name"] %></a></td>
		<td><%= record["External_ID__c"] %></td>
	</tr>
<% end %>
</table>